.br-mainpanel {
    background-image: linear-gradient(to bottom right, #00b9e5, #435ce1);
    background-size: 100% 320px;
    background-repeat: no-repeat;
}



.valor{
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.iconoHeader{
    
    width: 30px;
    height: 30px;
}

.FilaIndicadores {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-right: 0px !important;
margin-left: 0px !important;
}

div h5{
    font-family: 'Roboto', sans-serif !important;
}

div h2{
    font-family: 'Roboto', sans-serif;
}

a h4{
    font-family: 'Roboto', sans-serif !important;
}

.tarjeta{
    margin: auto;
}

.indicador{
    color:#dfe2e5;
    text-align: center;
    margin-top: 2px;
    font-family: 'Roboto', sans-serif;
}

.br-pagebody {
    margin-top:0;
}

.br-section-wrapper{
    -webkit-border-radius: 10px 10px;  /* Safari  */
    -moz-border-radius: 20px 30px;     /* Firefox */
}



.br-header{
    background-image: linear-gradient(to bottom right, #00b9e5, #00b9e5);
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0)!important;

}

.FilaHeader{
  
    position: relative;
    color: white;
    }

.br-sideleft{
    background-color: white;
}

.marcado{
    background-color: #435ce1!important;
    border: 1px solid #435ce1;
    -moz-border-radius: 9px;
    -webkit-border-radius:9px;
}

.labelMarcado{
    color: white!important;
    font-family: 'Roboto', sans-serif;
}

.label{
    color: #435ce1 !important;
    font-family: 'Roboto', sans-serif;
}

.label:hover{
    color:#00b9e5 !important;
    font-family: 'Roboto', sans-serif;
}

.seleccionado{
    border-bottom: 2px solid #066be6;
    color: black;
}

a{
    text-align: center;
    color: inherit;
}

.menu-item-label {
    color: blue;

}
.br-menu-link:hover , .br-menu-link:focus  {
  /*  background-color: #435ce1!important;*/
    background-color: transparent!important;
   
}


.total{
    color:#066be6;
}

.tablas {
    -webkit-border-radius: 5px 10px;  /* Safari  */
    -moz-border-radius: 5px 10px;     /* Firefox */
    border:1px solid #e5e5e5;
    border-right:1px solid #e5e5e5;
    margin-bottom: 15px;
}

.navicon-left a {
    color: white !important;
}

::-webkit-scrollbar {
    width: 6px;

}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(136, 128, 128, 0.979);
}


::-webkit-scrollbar-thumb {
  background-color: rgba(66, 64, 64, 0.479);

}

.table{
    border: 0px !important;
}

@media(min-width:667px){
    .header-left{
        display: none;
    }
}

.logoP{
    margin-left: 0px !important;

    width: 210px;
    
}

.logo{
   margin: auto;
}

.dataTables_scrollBody{
   
    scrollbar-width: thin;
    
}

.ranking{
    height: 20px !important;
}

.bg-br-primary {
    background-image: linear-gradient(to bottom right, #00b9e5, #435ce1) !important;
}


.btn-login{
    color: #fff !important;
    background-color: #066be6 !important;
    border-color: #066be6 !important;
    font-family: 'Roboto', sans-serif;
}

.dt-buttons{
    width: auto;
    margin-bottom: 30px;
    margin-left: 60%;
}


@media(max-width:667px){
    .dt-buttons{
        width: auto;
        margin-bottom: 30px;
        margin-left: 20%;
    }
}

.dt-button{
    color: white !important;
    background-color: #00b9e5 !important;
    border-color: #00b9e5 !important;
    margin-bottom: 10px !important;
}


